<%- include('nav.ejs') %>
    
    <h1><%= categorie.Titre %></h1>
    <p><%= categorie.Description %></p>
  
    <img src="<%= categorie.image %>" alt="Image de l'article">


    <%- include('footer.ejs') %>