<%- include('nav.ejs') %>
    <div>

         <form action="/articles/edit/<%= article.IdArticle %>" method="POST" enctype="multipart/form-data">
            <!-- Champ caché pour envoyer l'ID de l'article lors de la soumission du formulaire -->
            <input type="hidden" name="_method" value="PUT"> <!-- Utilisation de la méthode PUT pour l'édition -->
            
            <div class="form-group">
                <label for="titre">Titre :</label>
                <input type="text" class="form-control" id="titre" name="Titre" value="<%= article.Titre %>" required>
            </div>

            <div class="form-group">
                <label for="contenu">Contenu :</label>
                <textarea class="form-control" id="contenu" name="Description" required><%= article.Description %></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image actuelle :</label>
                <img src="/uploads/<%= article.image %>" alt="Image actuelle" class="img-thumbnail">
                <input type="file" class="form-control" id="image" name="image">
            </div>

            <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" class="form-control" id="date" name="date" value="<%= article.date %>" required>
            </div>

            <div class="form-group">
                <label for="auteur">Auteur :</label>
                <input type="text" class="form-control" id="autheur" name="autheur" value="<%= article.autheur %>" required>
            </div>

            <div class="form-group">
                <label for="categorie">Catégorie :</label>
                <select class="form-control" id="categorie" name="idcat" required>
                    <% categories.forEach(categorie => { %>
                        <option value="<%= categorie.IdCategorie %>" <%= article.idcat === categorie.IdCategorie ? 'selected' : '' %>><%= categorie.Titre %></option>
                    <% }); %>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </form>
    </div>
    <%- include('footer.ejs') %>