<%- include('nav.ejs') %>
<h1 style="margin: 145px 0px 13px 147px; display: flex; justify-content:left;">Articles</h1>
<div class="container cont " >
   
    <div class="row">
        <% articles.forEach(article => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" class="card-img-top" alt="rover">
                    <div class="card-body">
                        <small class="text-muted"><%= article.date %></small>
                        <h5 class="card-title"><%= article.Titre %></h5>
                        <p class="card-text"><%= article.Description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
 
   
    
</div>
<h1 style="margin: 0px 0px 13px 147px; display: flex; justify-content:left;">Catégories</h1>
<div class="container  cont" style="  margin-top: 10%;
margin-left: 17%;
">
    <div class="row">
        <% categories.forEach(category => { %>
        <div class="col-md-6 mb-6 ml-6" style=" margin-bottom: 10%;">
            <div class=" blog_post">
                
                <div class="img_pod">
                    <img src="https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg" id="cat" alt="random image">
                </div>
                <div class="container_copy">
                    <p>12 January 2019</p>
                    <p><%= category.Titre %></p>
                    <p><%= category.Description %></p>
                </div>
                <a class="btn_primary" href='#'>Read More</a>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<%- include('footer.ejs') %>