<%- include('nav.ejs') %>
    <h1>Résultats de la Recherche</h1>
    <ul>
        <% results.forEach(function(article) { %>
            <li>
                <a href="/articles/<%= article.id %>"><%= article.title %></a> - <%= article.date %>
            </li>
        <% }); %>
    </ul>
    <%- include('footer.ejs') %>